/* RESET */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    border: none;
    outline: none;
    text-align: unset;
    text-decoration: none;
    color: unset;
    background-color: unset;
    font-size: unset;
    font-weight: unset;
}

@mixin media($breakpoint) {
    // $breakpoint is simply a variable that can have several values
    @if $breakpoint==desktop {
        @media only screen and (max-width: 1350px) {
            @content;
        }
    }
    @if $breakpoint==tablet {
        @media only screen and (max-width: 980px) {
            @content;
        }
    }
    @if $breakpoint==mobile {
        @media only screen and (max-width: 550px) {
            @content;
        }
    }
}

/* VARIABLES */
:root {
  --bg: #f7efd4;
  --color: #000;
  --secondary-color: #333;
  --accent-color: #5ac874;
  --font-size: 20px;

  --sm-padding: 0.5rem;
  --padding: 1rem;
  --xl-padding: 5rem;
  @include media(tablet) {
    --sm-padding: 0.25rem;
    --padding: 0.5rem;
    --xl-padding: 3rem;
  }
  @include media(mobile) {
    --sm-padding: 0.1rem;
    --padding: 0.25rem;
    --xl-padding: 1rem;
  }
  
  --border-width: 0.1rem;
  --max-content-width: 40rem;
  --content-width: 80%;
  @include media(tablet) {
    --content-width: 90%;
  }
  @include media(mobile) {
    --content-width: 100%
  }
  --featured-img-height: 10rem;

  --logo-width: 10rem;
}

/* GLOBAL STYLES */
html {
    font-family: 'Arial', sans-serif;
    font-size: var(--font-size);
}

body {
    background-color: var(--bg);
    color: var(--color);
    padding: var(--padding) var(--xl-padding);
}

$heading-scaling: 0.3;
@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1rem + $heading-scaling * (6 - $i);
    padding-bottom: 0rem + $heading-scaling * (6 - $i);
    @include media(tablet) {
        font-size: 0.5rem + $heading-scaling * (6 - $i);
    }
    @include media(mobile) {
        font-size: 0.3rem + $heading-scaling * (6 - $i);
    }
  }
}

/* HEADER */
header.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--color) var(--border-width) solid;
    padding-bottom: var(--padding);
    margin-bottom: var(--xl-padding);

    #logo {
        width: var(--logo-width);
    }

    menu {
        li {
            display: inline-block;
        }

        li + li::before {
            content: "|";
            padding: var(--sm-padding);
        }
    }

    a.navigation-link {
        position: relative;
        text-decoration: none;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            z-index: -1;

            box-shadow: none;
            transform: rotate(0);

            transition: transform .1s ease-out;
        }

        &:hover:before {
            box-shadow: inset 1000px 0 0 0 var(--accent-color);
            transform: rotate(-10deg);
        }
    }
}

footer {
    border-top: var(--color) var(--border-width) solid;
    padding-top: var(--padding);
    margin-top: var(--xl-padding);
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--xl-padding);

    .article-list-item {
        margin: 0 auto;
        max-width: var(--max-content-width);
        width: var(--content-width);

        time {
            font-size: 0.8em;
            color: var(--secondary-color);
        }

        .article-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--xl-padding);
        }

        &:nth-child(even) .article-link {
            flex-direction: row-reverse;
        }

        .featured-img {
            width: 50%;
            height: var(--featured-img-height);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            mix-blend-mode: multiply;
        }

        @include media(tablet) {
            .article-link {
                flex-direction: column;
                align-items: unset;
            }

            &:nth-child(even) .article-link {
                flex-direction: column;
            }

            .featured-img {
                width: 100%;
            }
        }
    }
}

@mixin inside-article() {
    margin: 0 auto;
    max-width: var(--max-content-width);
    width: var(--content-width);
}

article.main-article {
    @for $i from 1 through 6 {
      h#{$i} {
        @include inside-article();
      }
    }

    p:not(:has(img)) {
        @include inside-article();
    }

    img {
        width: 100%;
        display: block;
        flex: 1 1 40%;
        height: fit-content;
    }
}
