<header class="site-header">
    {{ $header_logo := resources.Get "/tinoka_logo.svg" }}
    <a href="/">
        <img id="logo" src="{{ $header_logo.Permalink }}" alt="">
    </a>
    <nav>
        <menu>
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="{{ if $currentPage.HasMenuCurrent " main " . }}active {{ end }}">
                    <a class="navigation-link" href="{{ .URL }}" data-nav="{{.Name | urlize}}" {{if strings.HasPrefix .URL "https" }} target="_blank" {{end}}>
                        <span>{{ i18n .Identifier | default .Name }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </menu>
    </nav>
</header>